RMARKDOWN/.Rhistory
RMARKDOWN/.Rhistory
RMARKDOWN/.RData
RMARKDOWN/tabla_edad_pico_bonita.tex
RMARKDOWN/~$sumen_Modelos_RMSE.docx
RMARKDOWN/Resumen_Modelos_RMSE.docx
RMARKDOWN/.RDataTmp
RMARKDOWN/.RDataTmp1
RMARKDOWN/.RDataTmp2
RMARKDOWN/.RDataTmp3
